<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" [routerLink]="['home']">Logo</a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['home']">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
          <a class="nav-link" [routerLink]="['mercado']"><i class="fa fa-cart-plus"></i> Mercado <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
          <a class="nav-link" [routerLink]="['usuario']"><i class="fa fa-user"></i>  Usuário <span class="sr-only">(current)</span></a>
       </li>
       <li class="nav-item">
          <a class="nav-link" [routerLink]="['configuracao']"><i class="fa fa-cogs"></i>  Configuração <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-list"></i> Relatórios
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="relatorio/venda-valor">Vendas (valor)</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="relatorio/venda-quantidade">Vendas (quantidade)</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="relatorio/cadastro">Cadastros</a>

          </div>
      </li>
      <li class="nav-item sair">
        <a class="nav-link" href="javascript:;" (click)="sair()">Sair</a>
    </li>
    </ul>
  </div>
</nav>
<div class="loading" *ngIf="loading">
  <img src="../assets/loading.gif">
</div>
<router-outlet></router-outlet>
