<div class="container">
  <div class="main">
    <div class="row">
      <div class="col-12 text-center">
          <h1><i class="fa fa-bar-chart" aria-hidden="true"></i> Dashboards</h1>
      </div>
    </div><br><br>
      
      <div class="row">      
          <div class=" col-12 col-xl-3 col-sm-6 cartao">
              <div class="card bg-success text-white h-100">
                  <div class="card-body bg-success">
                      <div class="rotate">
                          <i class="fa fa-cart-plus fa-3x" aria-hidden="true"></i>
                      </div><br>
                      <h6 class="text-uppercase">Mercados</h6>
                      <h1 class="display-4">134</h1>
                  </div>
              </div>
          </div>
          <div class="col-12 col-xl-3 col-sm-6 cartao">
              <div class="card bg-primary text-white h-100">
                  <div class="card-body bg-primary">
                      <div class="rotate">
                          <i class="fa fa-user fa-3x"></i>
                      </div><br>
                      <h6 class="text-uppercase">Usuários</h6>
                      <h1 class="display-4">5000</h1>
                  </div>
              </div>
          </div>
          <div class="col-12 col-xl-3 col-sm-6 cartao">
              <div class="card bg-info text-white h-100">
                  <div class="card-body bg-info">
                      <div class="rotate">
                          <i class="fa fa-credit-card-alt fa-3x" aria-hidden="true"></i>
                      </div><br>
                      <h6 class="text-uppercase">Total de vendas (valor)</h6>
                      <h1 class="display-8">R$ 580,00</h1>
                  </div>
              </div>
          </div>
          <div class="col-12 col-xl-3 col-sm-6 cartao">
              <div class="card bg-light text-black h-100">
                  <div class="card-body bg-light">
                      <div class="rotate">
                          <i class="fa fa-line-chart fa-3x" aria-hidden="true"></i>
                      </div><br>
                      <h6 class="text-uppercase">Total de vendas (quantidade)</h6>
                      <h1 class="display-8">8.900</h1>
                  </div>
              </div>
          </div>
          
        </div>
  </div>
</div>

