<div class="container">
  <div class="main">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title"><i class="fa fa-cart-plus"></i> Cadastro de Mercado</h5>
      </div>
      <div class="card-body">
          <!-- <div class="alert alert-danger" role="alert">
              Ao clicar em um mercado da lista, preencher os inputs com os valores do mercado selecionado, 
            inserir o id no campo hidden do formulario e enviar para a api com id, caso tenha o id enviar para /api/mercados/:id caso nao tenha enviar para /api/mercados 
           </div> -->
           <div class="alert alert-danger" role="alert" *ngIf="erroSalvar">
              Erro ao salvar mercado, verifique os campos e preencha novamente<br>
           </div>
        <form [formGroup]="formulario" id="formulario" (ngSubmit)="saveMercado()">
            <input 
            type="hidden"
            class="form-control"
            id="idMercado"
            formControlName="id" 
            
              >
          <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label for="descricaoMercado">Descrição *</label>
                    <input 
                      type="text"
                      class="form-control"
                      id="descricaoMercado"
                      placeholder="Digite descrição mercado"
                      formControlName="descricao"
                    >
                    <small class="form-text text-danger" *ngIf="(formulario.get('descricao').touched) && (formulario.get('descricao').invalid)">Preencha este campo</small> 
                  
                  </div>
              </div>
          </div>
          <div class="row">
            <div class="col-6">
              <div class="form-group">
                <label for="razaoSocial">Razão Social</label>
                <input 
                  type="text"
                  class="form-control"
                  id="razaoSocial"
                  placeholder="Digite razão social"
                  formControlName="razaoSocial"   
                  >
              </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                  <label for="razaoSocial">Nome fantasia</label>
                  <input 
                    type="text"
                    class="form-control"
                    id="razaoSocial"
                    placeholder="Digite nome fantasia"
                    formControlName="nomeFantasia"   
                    >
                </div>
              </div>
          </div>
          <div class="row">
              <div class="col-6">
                  <div class="form-group">
                    <label for="cnpjCpf">CNPJ/CPF*</label>
                    <input 
                      type="text"
                      class="form-control"
                      id="cnpjCpf"
                      placeholder="Digite CNPJ"
            
                      formControlName="cnpjCpf" 
                     
                      >
                      <small class="form-text text-danger" *ngIf="(formulario.get('cnpjCpf').touched) && (formulario.get('cnpjCpf').invalid)">Preencha este campo</small>
                      <small class="form-text text-danger" *ngIf="(formulario.get('cnpjCpf').touched) && (erroCnpjCpf == false)">CNPJ/CPF inválido</small>
                      
                  </div>
                </div>
              <div class="col-6">
                <div class="form-group">
                  <label for="inscricaoEstadual">Inscrição Estadual</label>
                  <input 
                    type="text"
                    class="form-control"
                    id="inscricaoEstadual"
                    placeholder="Digite inscrição estadual"
                    formControlName="inscricaoEstadual" 
                    >
                </div>
              </div>
              
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label for="enderecoMercado">Endereço *</label>
                        <input 
                          type="text"
                          class="form-control"
                          id="enderecoMercado"
                          placeholder="Digite endereço mercado"
                          formControlName="endereco" 
                          
                            >
                            <small class="form-text text-danger" *ngIf="(formulario.get('endereco').touched) && (formulario.get('endereco').invalid)">Preencha este campo</small>
                      
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-6">
                      <div class="form-group">
                        <label for="telefoneMercado">Telefone</label>
                        <input 
                          type="text"
                          class="form-control"
                          id="telefoneMercado"
                          placeholder="Digite Telefone"
                          formControlName="telefone" 
                          >
                      </div>
                    </div>
                  <div class="col-6">
                    <div class="form-group">
                      <label for="celularMercado">Celular</label>
                      <input 
                        type="text"
                        class="form-control"
                        id="celularMercado"
                        placeholder="Digite celular"
                        formControlName="celular" 
                        >
                    </div>
                  </div>
                </div>
            </form>
      </div>
      <div class="card-footer text-muted">
        <button form="formulario" type="submit" class="btn btn-success">Salvar</button>
        <button form="formulario" type="reset" class="btn btn-danger" (click)="resetarForm()">Cancelar</button>
      </div>
    </div><br>
    <div id="accordion">
        <div class="card">
          <div class="card-header" id="headingOne">
           
              <button (click)="buscarMercadosClick()" class="btn btn-link col-12" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                <h5 class="mb-0">Listar Mercados</h5>
              </button>
            
          </div>
      
          <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
                <table #tabela class="table table-striped table-hover" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Descrição</th>
                        <th scope="col">CNPJ/CPF</th>
                        <th scope="col">Telefone</th>
                        <th scope="col">Celular</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let mercado of mercados" (click)="editarMercado(mercado)" class="mercadoRow">                       
                        <td>{{mercado.id}}</td>
                        <td>{{mercado.descricao}}</td>
                        <td>{{mercado.cnpjCpf}}</td>
                        <td>{{mercado.telefone}}</td>
                        <td>{{mercado.celular}}</td>                      
                      </tr>
                    </tbody>
                  </table>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>